* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: cadetblue;
    font-family: 'Montserrat', sans-serif;
    color: #e0e249;
    min-height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". field field ." "rule field field score" ". field field .";
}

.field {
    grid-area: field;
}

.rule {
    grid-area: rule;
    justify-self: center;
}

.score {
    grid-area: score;
}

.main {
    width: 320px;
    height: 620px;
    margin: 100px auto 0;
    border: 10px solid skyblue;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cell {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border: 1px solid skyblue;
}

.moving-cell {
    background-color: #a543d5;
}

.fixed-cell {
    background-color: #e0e249;
}

.arrow {
    border: solid #e0e249;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}